/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* Body */

html {
}
body {background: ;
width: 90%;

}

/* Major Divisions */

/* Page (Containing Div) */
 
div#page {width: 100%; /*978/1014 =0.9645*/
max-width: 1300px;
margin: 0 auto; 
background-color: ;


}

    
/* Header */
div#header {padding: 0px; 
width: 96.45%; /*978/1014 =0.9645*/
margin:0 auto; 
padding: 22px 0;
font-size: 14px; 
margin-bottom: 0px;
background: ;
}

div#header h1 {font-size: 14px; 
margin-bottom: 22px;
margin-left: 0px;
text-align: center;
font-size: Large;
font-weight: bold;
color: #2B65EC;


}
div#header h1 a {font-size: 28px; 
margin-bottom: 22px;
font-family: 'Holtwood One SC', serif;
color: #2B65EC;
}



p.tagline {Margin-left: 0px;
margin-bottom: 0px;
font-family: 'Bowlby One SC', sans-serif;
font-size: 14px; 
Position: relative; 
width: 55.35%; /*558/1008=.055357*/


}

/*Hide Stuff */
div#header ul.accessibility {display: none;
}

/* Content */

div#content {background:; 
float:left;
width:687px;
margin: 14px;
}

div#content ul.info {text-align: center;
margin-bottom: 22px;
}

div#content ul.contact {text-align: center;
}

div#content ul.details { 
text-align:left; 
list-style-type: none;
margin-left: 22px;
margin-bottom: px

}
div#content ul.education {
list-style-type: none;
margin-left: 0px;
margin-bottom: 0px;

}

div#content ul.skills {list-style-type: none;
text-align: center;
padding: 8px;

}
div#content ul.services {ext-align:left; 
list-style-type: disc;
margin-left: 0px;
margin-bottom: 0px;
}

div #navigation{color: 
} 
/*sidebar*/
div#sidebar {float:right;
width: 340px;
background:;
height: 100%;
padding: 5px;
}  
 

ul#sidebar{list-style:none;
margin-left: 0px;
margin:0px;
padding:;
width:500px;
line-height: 14px; overflow: ;
margin-left: 5px;  
margin-top: 3px;
 

}

ul#sidebar li {display:block;
padding-bottom: 22px;
Font-size: 22px;
margin-top: 22px; 
}


ul#sidebar li a {text-decoration:none;
padding:5px 0;
width:100px;
background: #2B65EC;
color:#eee;
float: ;
text-align:center;
border-left:1px solid #fff;
}
#sidebar h2 { text-align: left; 
    font-size: 24px;  
    color: #044055;  
    font-weight: bold;  
    padding-bottom: 22px;  
    padding-left: 15px;
margin-top: 30px;	
	
}  



div#main {
}



div#supporting{

}

/* Footer */
div#footer {clear:both;
}
div#footer p.credits {margin-left: 0px;
}
div#footer ul.validators {
}
div#footer ul.validators li {display: none;
}

/*Navigation*/
ul#navigation {list-style:none;
margin-left: 0px;
margin:0px;
padding:0;
width:810px;
line-height: 14px; overflow: hidden
}

ul#navigation li {display:inline
}


ul#navigation li a {text-decoration:none;
padding:5px 0;
width:100px;
background: #2B65EC;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;

}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {background-color: #FDD017;
}


/*Content Typography: Headings*/

div#content h2 {font-size: 14pt;
margin-top:14px;
text-align:center;
font-size: 24px;  
color: #044055; 
font-size: ;
font-weight: bold;
padding: 14px;
}

div#content h3 { font-size: 14pt;
margin-bottom: 22px;
margin-top: 15px;
text-align: left;
font-size: Large;
font-weight: bold;
}
div#content h4 {
}
div#content h5 {
}
div#content h6 {
}

/*Content Typography: Paragraphs*/
div#content p {
margin-bottom: 22px;
	margin-top: 0px;
	margin-left:14px;
	font-size: 14px; line-height: 22px;
	width: 642px; /*width: 810/13= 62.3em; /* for non-IE */
*width: 60.80em; /*width: 810/13 x .9759=60.80em;/*for IE */

}

/*Content Typography: Unordered Lists*/

div#content ul.expertise {text-align: center;
width:63.69%; /* 642/ 1008 = 0.6369 */
margin-left:auto;
margin-right:auto;	 
border:1px solid #2B65EC;
background:#2B65EC;
margin-bottom: 22px;
font-family: 'Bowlby One SC', sans-serif;
}


div#content ul.contracts {text-align: center;
width:63.69%; /* 642/ 1008 = 0.6369 */
margin-left:auto;
margin-right:auto;	 
border:1px solid #2B65EC;
background:#FFFFFF;
margin-bottom: 22px;
} 


div#content ul li {
list-style-type: none;
}
/*Nested*/
div#content * li ul { list-style-type: none;
margin-bottom: px;
}
div#content * li ul li {list-style-type: none;
margin-bottom: px;
}


/*Content Typography: Ordered Lists*/
div#content ol {
}
div#content ol li {
}
/*Nested*/
div#content * li ol {
}
div#content * li ol li {
}

/*Content Typography: Links*/
div#content a {display:inline;
padding:0px 0;
width:100px;
background: ;
color:#eee;
text-align:center;
margin-bottom: 0px;
text-decoration:;


}
div#content a:visited {
}
div#content a:hover,
div#content a:focus {color: #FDD017;
}


ul {
margin-bottom:20px;
margin-top: 20px;
margin-left: 0px;
} 

div#content img {max-width: 30%;
display: block;
background-color: #2B65EC;
float: right;
margin:22px 244px 66px 66px;  
 
}	
div#header img {max-width: 30%;
display: block;
background-color: #2B65EC;
margin: 22px 22px 22px 22px;
}

 



/*media quieries*/
@media screen and (max-device-width: 400px) {{ div {border:none;}
 .expertise{
    float: none;
  }
  