/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* Body */

html {
}
body {
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {width: 800px; 

}

    
/* Header */
div#header {padding: 0px;
}
div#header h1 {

}
div#header h1 a {
}
p.tagline {Margin-left: 0px;
margin-bottom: 1px; 

}

/*Hide Stuff */
div#header ul.accessibility {display: none;
}

/* Content */
div#content { 
}

div #navigation{color: 
} 

div#main {margin-left: 0px;
}



div#supporting ul.expertise {
text-align: center;
margin-bottom:0px;
margin-top: 0px;
margin-left: 0px;
}

/* Footer */
div#footer {margin-left:
}
div#footer p.credits {margin-left: 0px;
}
div#footer ul.validators {
}
div#footer ul.validators li {
}

/*Navigation*/
ul#navigation {overflow: hidden;
border-top: 1px solid blue;
margin-left: 0px;
}

ul#navigation li {float: left;
display: inline;
Margin-right: 2px;
Width: 84px
}


ul#navigation li a {float: left; margin-right: 0px;
text-align: center;
display: block;
width: 54px;
padding: 
text-decoration: none;
color: black;
background-color: white;
font-weight: bold
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {background-color: yellow;
}


/*Content Typography: Headings*/
div#content h2 {font-size: 14pt;
margin-bottom:15px;
margin-top: 15px;

}
div#content h3 { font-size: 14pt;
margin-bottom: 15px;
margin-top: 15px;
}
div#content h4 {
}
div#content h5 {
}
div#content h6 {
}

/*Content Typography: Paragraphs*/
div#content p {
}

/*Content Typography: Unordered Lists*/
div#content ul {
}
div#content ul li {
}
/*Nested*/
div#content * li ul {
}
div#content * li ul li {
}

/*Content Typography: Ordered Lists*/
div#content ol {
}
div#content ol li {
}
/*Nested*/
div#content * li ol {
}
div#content * li ol li {
}

/*Content Typography: Links*/
div#content a {display: none;
}
div#content a:visited {
}
div#content a:hover,
div#content a:focus {
}

p{
	margin-bottom:20px;
	margin-top: 20px;
	margin-left:20px;
}

#contact li{text-align: center;}

.skills li {text-align: center;}

h1 {	
	text-align: center;
	font-size: Large;
	font-weight: bold;
	margin-left: 20px
  }

h2{text-align: center;
   font-size: Large;
   font-weight: bold;
   margin-left: 20px
} 
 
h3 {
	font-size: Large;
	font-weight: bold;
}

.details li { 
	text-align:left; 
	list-style-type: disc;
	margin-left: 20px
} 

ul {
	margin-bottom:20px;
	margin-top: 20px;
	margin-left: 20px;
}	